<!-- start: sidebar header -->
<div class="sidebar-header">
    <!-- brand -->
    <!--<a class="brand" href="">-->
        <!--<span class="brand-figure"></span>-->
        <!--<span class="brand-text">Brand.</span>-->
    <!--</a>-->
    <!--/ brand -->
</div>
<!--/ end: sidebar header -->

<!-- start: sidebar content -->
<div class="sidebar-content">
    <!-- scroll-content -->
    <div class="scroll-content" slim-scroll>
        <!-- navigation -->
        <ul class="nav nav-sidebar">
            <li class="nav-heading">Base info</li>
            <li class="nav-group" ui-sref-active="active">
                <a class="nav-toggle" href="#/package">
          <span class="figure figure-left icon">
            <i class="ai ai-dashboard"></i>
          </span>
                    <span class="text ellipsis">Packages</span>
                </a>
            </li>
            <li class="nav-group" ui-sref-active="active">
                <a class="nav-toggle" href="#/channel">
          <span class="figure figure-left icon">
            <i class="ai ai-dashboard"></i>
          </span>
                    <span class="text ellipsis">Channels</span>
                </a>
            </li>
        </ul>
    </div>
</div>