<div class="container" ng-controller="LoginController as postCtrl">
    <form class="form ng-pristine ng-invalid ng-invalid-required col-md-4 col-md-offset-4" ng-submit="postCtrl.postForm()">
        <h2>Please sign in</h2>

        <div class="form-group">
            <input id="inputUsername" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched"
                   type="text" ng-model="postCtrl.inputData.username" autofocus="" required="" placeholder="Username">
        </div>
        <div class="form-group">
            <input id="inputPassword"
                   class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
                   type="password" ng-model="postCtrl.inputData.password" required="" placeholder="Password">
        </div>
        <br>
        <div class="alert alert-danger ng-binding ng-hide" ng-show="errorMsg" role="alert">{{errorMsg}}</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
